.bg {
    background-image: url('/assets/images/bg_hero.png');
    background-position: left top;
    background-repeat: repeat;
    height: 458px;;
    
}

.bg .container {
    position: relative;
}

.bg .container img{
    position: absolute;
}