.post {
    header {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        &:before {
            font-family: icomoon !important;
            content: '\1f32d';
            margin-right: 5px;
            
        }
    }    
}